* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F5F5;
  
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
 
.App {
  width: 10000px;
  background-color: #F4F5F5;
} 

.navbar {
  height: 50px;
  width: 10000px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #F4F5F5;
  justify-content: left;
  margin-bottom: 10px;
}

.row {
  margin-top: 20px;
  background-color: white;
}

.upload-block  {
  background-color: white;
  border: solid #F4F5F5;
}

.btn-block {
  background-color: white;
  border: solid #F4F5F5;
  height: 500px;
}

.h4-info-area {
  background-color: white;
  display: flex;
  justify-content: center;
}

.btn-group {
  background-color: white;
}

.table-responsive {
  background-color: white;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
