/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 1000px;
  background: #f4f5f5;
}
.upload-block,
.btn-block,
.btngroup {
  background-color: white;
  border-radius: 5%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: left;
  margin-bottom: 10px;
}

.btn-group {
  background-color: white;
}

.table-responsive {
  background-color: white;
} */

/* .navbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: left;
  margin-bottom: 10px;
} */

/* ROMA VERSION*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* height: 1000px; */
  background: #f4f5f5;
}
.upload-block,
.btn-block,
.btngroup {
  background-color: white;
  border-radius: 7.5px;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header-name {
  margin-top: 16px;
  margin-bottom: 0px;
}

.card {
  background-color: white;
}

.select {
  z-index: 5;
}

/* ROMA VERSION*/

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
